@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    max-width: 500px;
    margin: 70px auto;
    padding: 20px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
    align-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2rem;
}

.button {
    background-color: #a8e6cf;
    border: none; 
    color: #333; 
    padding: 15px 32px;
    text-decoration: none; 
    display: flex; 
    font-size: 10px; 
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    border-radius: 12px; 
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color: #91d9b7; 
}

.button:active {
    background-color: #7ccba1; 
}
