@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Altura completa de la ventana */
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
}

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center; /* Centra el botón horizontalmente */
    width: 100%;
}

.button {
    background-color: #a8e6cf; /* Verde claro */
    border: none; 
    color: #333; 
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 10px; 
    font-family: 'Press Start 2P', cursive;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; 
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color: #91d9b7; 
}

.button:active {
    background-color: #7ccba1; 
}
